<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js" defer></script>
  <title>Members only</title>
</head>
<body> 
  <div class="center">
    <div class="main_top">
      <img class="main_top__icons" src="images/memberboxicons.png" alt="box_icons">
    </div>
    <div class="main_header">
      <h1 class="main_header__text">Members Only</h1>
    <% if (user) {%>
    <% } else { %>
      <div class="nav_buttons">
        <button id="sign_in_btn">Sign In</button>
        <button id="sign_up_btn">Sign Up</button>
      </div>
    <%}%>
    </div>
    <% if (user) {%>
      <p>Welcome back <%= user.username %></p>
      <a href="/log-out">Log out</a>
      <button id="new_message_btn">Add new message</button>
      <%- include('./partials/message-form.ejs')%>
    <% } else { %>
      <p>Only members who have signed up with the correct pass code can see who wrote the messages and when </p>
    <%}%>
    <div class="messages">
      <% for (let i = 0; i < messages.length; i++) { %>
        <%- include('./partials/messages.ejs', {index: i, messages: messages, user: user}); %>
      <% } %>
    </div>
  </div>
  <div class="sign_up__modal" id="sign_up">
    <%- include('./partials/sign-up-modal.ejs')%>
  </div>
  <div class="sign_in__modal" id="sign_in">
    <%- include('./partials/sign-in-modal.ejs')%>
  </div>
</body>
</html>